<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="homepageStyle.css">
</head>
<body>
    <h1>Users</h1>
    <form action="/form" method="post">
        <div>
            <input type="file"/>
            <a href="/feed?user=john123">john123 FEED</a>
        </div>
    
        <div class="button">
            <button type="submit">Upload Photo</button>
        </div>
    </form>

    <form action="/form" method="post">
        <div>
            <input type="file"/>
            <a href="/feed?user=sandra123">sandra123 FEED</a>
        </div>

        <div class="button">
            <button type="submit">Upload Photo</button>
        </div>
    </form>
        
</body>
</html>