body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333333;
  display: flex;
  flex: 1;
  align-items: left;
  flex-direction: column;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 1.5;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
#userBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
a {
  align-items: left;
  justify-content: space-between;
  order: 1;
}
img {
  display: flex;
  border-radius: 50%;
  height: 220px;
  width: 220px;
}
#userBox > input {}

